form {
  z-index: 1;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.562);


  p {
    padding-top: 8px;
  }

  .required {
    color: rgb(214, 55, 87);
  }

  .form-field {
    display: flex;
    flex-direction: column;
    width: 95%;
    max-width: 400px;

    input, textarea {
      outline: none;
      border: none;
      padding: 4px;
      color: black;
      resize: vertical;
      max-height: 240px;

      transition: background 0.1s;
    }

    input:disabled, textarea:disabled {
      background: gray;
    }
  }

  button {
    background-color: black;
    z-index: 1;
    
    margin: 8px 0;
    padding: 8px;
    border: 1px solid white;
    border-radius: 4px;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    outline: none;
    width: 90%;
    max-width: 240px;

    box-shadow: none;

    transition: all 0.2s ease-in-out;
  }

  .success {
    color: limegreen;
  }

  button:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0 16px -2px black;
  }
}