.App {
  display: flex;
  width: 100%;
  color: white;
  font-family: "Consolas", sans-serif;
  user-select: none;
  text-align: center;

  .head {
    margin-top: 48px;
    font-size: 48px;
    padding: 16px;
  }

  .container-left {
    background: black;
    width: 50%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .subhead {
      color: lightgray;
      margin-top: 0;
    }
  }

  .container-right {
    background: #333333;
    width: 50%;
    height: 100vh;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    overflow-y: scroll;
  }

  .arrow-down {
    display: none;
  }

  .horizontal-line {
    color: white;
    width: 90%;
  }

  @media (max-width: 1172px) {
    flex-direction: column;

    .container-left,
    .container-right {
      width: 100%;
      overflow-y: hidden;

      .head {
        font-size: 32px;
        margin: 0;
      }

      h1.subhead {
        font-size: 24px;
      }

      h4.subhead {
        font-size: 16px;
      }

      hr {
        display: none;
      }
    }

    .container-left {
      padding-bottom: 144px;
    }

    .container-right {
      height: auto;
      padding-bottom: 48px;
    }

    .arrow-down {
      display: block;
      color: white;
      position: absolute;
      font-size: 48px;
      bottom: 12px;
      margin: auto;
      left: 50%;
      margin-left: -13px;
    }

    @media (max-width: 340px) {
      .arrow-down {
        display: none;
      }
    }
  }

  @media (max-width: 350px) {
    .head {
      font-size: 26px!important;
    }

    h1.subhead {
      font-size: 24px;
    }

    h4.subhead {
      font-size: 16px;
    }
  }
}
