.App {
  display: flex;
  width: 100%;
  color: white;
  font-family: 'Consolas', sans-serif;
  user-select: none;
  text-align: center;
  flex-direction: column;

  .head {
    margin-top: 48px;
    font-size: 48px;
    padding: 16px;
  }

  .container-left {
    background: black;
    min-height: 100vh;
    // height: 100vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    .links {
      display: flex;
    }

    .avatar {
      min-width: 100px;
      width: 12%;
      max-width: 400px;
      margin-bottom: 16px;
      border-radius: 50%;
    }
    .subhead {
      color: lightgray;
      margin-top: 0;
    }

    .arrow-down {
      display: none;
    }
  }

  .container-right {
    background: #333333;
    min-height: 100vh;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    .loading {
      margin: auto;

      .taking-too-long {
        color: rgb(209, 209, 209);
        opacity: 0;

        transform: translateY(-20px);

        transition: all 0.2s ease-in-out;

        &.shown {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }

    .error {
      margin: auto;
      color: rgb(238, 79, 79);
    }
  }

  .horizontal-line {
    color: white;
    width: 90%;
  }

  @media (max-width: 1300px) {

    .container-left,
    .container-right {

      .head {
        font-size: 32px;
      }

      h1.subhead {
        font-size: 24px;
      }

      h4.subhead {
        font-size: 16px;
      }

      hr {
        display: none;
      }
    }

    .container-left {
      // padding-bottom: 144px;

      .arrow-down {
        display: flex;
        color: white;
        text-align: center;
        font-size: 48px;
        // color: white;
        // position: absolute;
        // font-size: 48px;
        // bottom: 12px;
        // margin: auto;
        // left: 50%;
        // margin-left: -13px;
      }
    }

    .container-right {
      height: auto;
      padding-bottom: 48px;
    }

    @media (max-width: 360px) {
      .arrow-down {
        display: none;
      }
    }
  }

  @media (max-width: 350px) {
    .head {
      font-size: 26px !important;
    }

    h1.subhead {
      font-size: 24px;
    }

    h4.subhead {
      font-size: 16px;
    }
  }
}
