.property {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin: 0;
  padding: 0 1rem;

  background: RGBa(255, 255, 255, 0.05);
  cursor: pointer;
  user-select: none;

  transition: background 0.5s;
}

.property:hover {
  background: RGBa(255, 255, 255, 0.25);
}

.property .type {
  display: flex;
  justify-content: flex-end;
  font-style: italic;
  color: lemonchiffon;
  font-weight: bold;
  align-self: center;
}

.property .delete {
  background: crimson;
  color: white;
  font-weight: bold;
  border: none;
  margin: 1px;
  display: none;
  width: 0px;
  height: 32px;
  align-self: center;
  cursor: pointer;

  transition: width 0.2s;
}

.property:hover .delete {
  display: flex;
  width: 32px;
  justify-content: center;
}

.property:hover .delete:hover {
  background: red;
  box-shadow: 0px 0px 3px 0px white;
}